#edit-field-credly-email-0-value {
    float:left;
}
#edit-field-credly-id-0-value-wrapper {
  display:none;
}
#edit-field-credly-remove {
    margin-left:15px;
}
.edit-field-credly-email-description-linked,
.edit-field-credly-email-description {
  margin-bottom:20px;
}
.credly_profile_link {
    clear:left;
    float:left;
}
fieldset.edu_credly_module  {
  margin-top:-1em;
  background-image:none;
  border:none;
}
fieldset.field_credly_markup {
  background-image:none;
}
.edu_credly_loader {
  position:relative;
  margin-left:auto;
  margin-right:auto;
  width:40px;
  height:40px;
  padding:0;
  background: #fff url(./loading.gif) no-repeat 0 0;
}
